@font-face {
    font-family: "EarlyMan";
    src: url("../../assets/font/EarlyMan.woff") format("woff");
}

@font-face {
    font-family: "Axis";
    src: url("../../assets/font/Axis.woff") format("woff");
}

@font-face {
    font-family: "AxisLight";
    src: url("../../assets/font/AxisLight.woff") format("woff");
}

.beer-titlecontainer {
    position: absolute;
    top: 2%;
    left: 105vw;
}

.beer-title {
    font-family: EarlyMan;
    color: white;
    font-size: 110px;
    width: 5em;
    margin-top: 2%;
}

.beer-colon {
    color: white;
    font-size: 110px;
    width: 5em;
    top: 20vh;
    left: 17vw;
    position: absolute;
}

.beer-textcontainer {
    position: absolute;
    left: 106vw;
    width: 100%;
    bottom: 32vh;
}

.beer-text {
    color: white;
    width: 100%;
    font-family: AxisLight;
    font-size: 12px;
    font-weight: 800;
}

.beer-instruction {
    font-family: AxisLight;
    font-size: 11px;
    font-style: italic;
    color: white;
}

.chouffe,
.beer86,
.lagoulade {
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.chouffe {
    height: 382px;
    top: 13vh;
    left: 160vw;
}

.beer86 {
    height: 250px;
    top: 45vh;
    left: 140vw;
}

.lagoulade {
    height: 282px;
    top: 35vh;
    left: 182vw;
}

.chouffe .alcool,
.beer86 .alcool,
.lagoulade .alcool {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.chouffe .alcool {
    height: 382px;
}

.beer86 .alcool {
    height: 253px;
}

.lagoulade .alcool {
    height: 329px;
}

.chouffe .background,
.beer86 .background,
.lagoulade .background {
    position: absolute;
    top: 0;
    left: 3px;
    height: 382px;
    background: white;
    z-index: 5;
}

.chouffe .background {
    width: 150px;
}

.beer86 .background {
    width: 170px;
}

.lagoulade .background {
    width: 130px;
}

.chouffe .liquid {
    position: absolute;
    top: 0;
    left: 0;
    width: 155px;
    height: 382px;
    z-index: 5;
    transition: transform 2s ease-in-out 0.5s;
    transform: translateY(100%);
}