@font-face {
    font-family: "EarlyMan";
    src: url("../../assets/font/EarlyMan.woff") format("woff");
}

@font-face {
    font-family: "Axis";
    src: url("../../assets/font/Axis.woff") format("woff");
}

@font-face {
    font-family: "AxisLight";
    src: url("../../assets/font/AxisLight.woff") format("woff");
}

body {
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.view {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

*::-webkit-scrollbar {
    display: none;
}

.comptoir {
    width: 706%;
    position: absolute;
    bottom: -35%;
    z-index: 11;
}