@font-face {
    font-family: "EarlyMan";
    src: url("../../assets/font/EarlyMan.woff") format("woff");
}

@font-face {
    font-family: "Axis";
    src: url("../../assets/font/Axis.woff") format("woff");
}

body {
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
}

.view {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 4%;
}

.title {
    font-family: EarlyMan;
    color: white;
    font-size: 30px;
    font-size: 110px;
    width: 316px;
    margin-top: 2%;
}

.barman {
    width: 30em;
    padding-left: 30%;
    margin-top: -67px;
}

/* @media only screen and (min-width: 1400px) {
    .barman {
        padding-left: 45%;
    }
} */

.scroll {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 4%;
    margin-top: -3%;
}

.scrollTitle {
    font-family: Axis;
    color: white;
    text-transform: uppercase;
    margin-top: 0px;
}

.line {
    margin-left: 25px;
    margin-top: 10px;
}

.circle {
    margin-top: -7px;
    margin-left: -9px;
}

.comptoir {
    width: 402%;
    /* 384% */
    margin-top: -63px;
}

.data1 {
    position: relative;
    overflow: hidden;
    width: 155px;
    height: 382px;
    left: 20%;
    margin-top: 12%;
}

.bottle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 155px;
    height: 382px;
}

.backgroundBottle {
    position: absolute;
    top: 0;
    left: 0;
    width: 155px;
    height: 382px;
    background: white;
    z-index: 5;
}

.liquid {
    position: absolute;
    top: 0;
    left: 0;
    width: 155px;
    height: 382px;
    z-index: 5;
    transition: transform 2s ease-in-out 0.5s;
    transform: translateY(100%);
}